<a href="https://colab.research.google.com/github/Himangi-77/Python_codes/blob/main/AssociationRules_GroceryAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [24]:
data = pd.read_csv('/content/GroceryStoreDataSet.csv')
data.head()

   ITEM1  ITEM2      ITEM3       ITEM4
0   MILK  BREAD    BISCUIT         NaN
1  BREAD   MILK    BISCUIT  CORNFLAKES
2  BREAD    TEA  BOURNVITA         NaN
3    JAM  MAGGI      BREAD        MILK
4  MAGGI    TEA    BISCUIT         NaN

In [26]:
data1 = pd.get_dummies(data)
data1.head()

   ITEM1_BREAD  ITEM1_COFFEE  ...  ITEM4_MILK  ITEM4_TEA
0            0             0  ...           0          0
1            1             0  ...           0          0
2            1             0  ...           0          0
3            0             0  ...           1          0
4            0             0  ...           0          0

[5 rows x 25 columns]

In [27]:
frequent_itemsets = apriori(data1,min_support=0.1,use_colnames=True)
frequent_itemsets

    support                                           itemsets
0      0.45                                      (ITEM1_BREAD)
1      0.20                                     (ITEM1_COFFEE)
2      0.10                                        (ITEM1_JAM)
3      0.15                                      (ITEM1_MAGGI)
4      0.10                                      (ITEM2_BREAD)
5      0.10                                       (ITEM2_COCK)
6      0.15                                     (ITEM2_COFFEE)
7      0.10                                      (ITEM2_MAGGI)
8      0.15                                       (ITEM2_MILK)
9      0.20                                      (ITEM2_SUGER)
10     0.20                                        (ITEM2_TEA)
11     0.30                                    (ITEM3_BISCUIT)
12     0.20                                  (ITEM3_BOURNVITA)
13     0.10                                      (ITEM3_BREAD)
14     0.10                                 (ITEM3_CORNFLAKES)
15     0.10                                      (ITEM3_SUGER)
16     0.20                                 (ITEM4_CORNFLAKES)
17     0.15                        (ITEM2_COFFEE, ITEM1_BREAD)
18     0.10                          (ITEM2_MILK, ITEM1_BREAD)
19     0.10                         (ITEM2_SUGER, ITEM1_BREAD)
20     0.10                           (ITEM2_TEA, ITEM1_BREAD)
21     0.10                       (ITEM3_BISCUIT, ITEM1_BREAD)
22     0.15                     (ITEM3_BOURNVITA, ITEM1_BREAD)
23     0.10                         (ITEM3_SUGER, ITEM1_BREAD)
24     0.10                         (ITEM2_COCK, ITEM1_COFFEE)
25     0.10                        (ITEM2_SUGER, ITEM1_COFFEE)
26     0.10                      (ITEM1_COFFEE, ITEM3_BISCUIT)
27     0.10                   (ITEM1_COFFEE, ITEM4_CORNFLAKES)
28     0.10                           (ITEM1_JAM, ITEM2_MAGGI)
29     0.10                           (ITEM1_JAM, ITEM3_BREAD)
30     0.10                           (ITEM1_MAGGI, ITEM2_TEA)
31     0.10                        (ITEM2_COCK, ITEM3_BISCUIT)
32     0.10                     (ITEM2_COCK, ITEM4_CORNFLAKES)
33     0.10                        (ITEM3_SUGER, ITEM2_COFFEE)
34     0.10                         (ITEM2_MAGGI, ITEM3_BREAD)
35     0.10                     (ITEM2_MILK, ITEM4_CORNFLAKES)
36     0.10                     (ITEM2_SUGER, ITEM3_BOURNVITA)
37     0.10                       (ITEM3_BOURNVITA, ITEM2_TEA)
38     0.15                  (ITEM3_BISCUIT, ITEM4_CORNFLAKES)
39     0.10           (ITEM3_SUGER, ITEM2_COFFEE, ITEM1_BREAD)
40     0.10          (ITEM3_BOURNVITA, ITEM2_TEA, ITEM1_BREAD)
41     0.10          (ITEM2_COCK, ITEM1_COFFEE, ITEM3_BISCUIT)
42     0.10       (ITEM2_COCK, ITEM1_COFFEE, ITEM4_CORNFLAKES)
43     0.10    (ITEM1_COFFEE, ITEM3_BISCUIT, ITEM4_CORNFLAKES)
44     0.10              (ITEM1_JAM, ITEM2_MAGGI, ITEM3_BREAD)
45     0.10      (ITEM2_COCK, ITEM3_BISCUIT, ITEM4_CORNFLAKES)
46     0.10  (ITEM2_COCK, ITEM1_COFFEE, ITEM3_BISCUIT, ITEM...

In [28]:
rules = association_rules(frequent_itemsets,metric='lift',min_threshold=0.7)
rules

                          antecedents  ... conviction
0                      (ITEM2_COFFEE)  ...        inf
1                       (ITEM1_BREAD)  ...   1.275000
2                        (ITEM2_MILK)  ...   1.650000
3                       (ITEM1_BREAD)  ...   1.092857
4                       (ITEM2_SUGER)  ...   1.100000
..                                ...  ...        ...
95  (ITEM3_BISCUIT, ITEM4_CORNFLAKES)  ...   2.700000
96                       (ITEM2_COCK)  ...        inf
97                     (ITEM1_COFFEE)  ...   1.800000
98                    (ITEM3_BISCUIT)  ...   1.350000
99                 (ITEM4_CORNFLAKES)  ...   1.800000

[100 rows x 9 columns]

In [29]:
rules.sort_values('lift',ascending=False)[0:20]

                                        antecedents  ... conviction
79                                    (ITEM3_BREAD)  ...        inf
76                       (ITEM2_MAGGI, ITEM3_BREAD)  ...        inf
25                                    (ITEM3_BREAD)  ...        inf
24                                      (ITEM1_JAM)  ...        inf
23                                    (ITEM2_MAGGI)  ...        inf
22                                      (ITEM1_JAM)  ...        inf
64                 (ITEM1_COFFEE, ITEM4_CORNFLAKES)  ...        inf
65                                     (ITEM2_COCK)  ...        inf
34                                    (ITEM2_MAGGI)  ...        inf
35                                    (ITEM3_BREAD)  ...        inf
59                                     (ITEM2_COCK)  ...        inf
75                         (ITEM1_JAM, ITEM3_BREAD)  ...        inf
74                         (ITEM1_JAM, ITEM2_MAGGI)  ...        inf
89  (ITEM1_COFFEE, ITEM3_BISCUIT, ITEM4_CORNFLAKES)  ...        inf
91                      (ITEM2_COCK, ITEM3_BISCUIT)  ...        inf
92                   (ITEM2_COCK, ITEM4_CORNFLAKES)  ...        inf
93                    (ITEM1_COFFEE, ITEM3_BISCUIT)  ...        inf
94                 (ITEM1_COFFEE, ITEM4_CORNFLAKES)  ...        inf
96                                     (ITEM2_COCK)  ...        inf
77                                      (ITEM1_JAM)  ...        inf

[20 rows x 9 columns]

In [31]:
rules[rules['lift']>5]

                                        antecedents  ... conviction
22                                      (ITEM1_JAM)  ...        inf
23                                    (ITEM2_MAGGI)  ...        inf
24                                      (ITEM1_JAM)  ...        inf
25                                    (ITEM3_BREAD)  ...        inf
32                                    (ITEM3_SUGER)  ...        inf
33                                   (ITEM2_COFFEE)  ...        2.7
34                                    (ITEM2_MAGGI)  ...        inf
35                                    (ITEM3_BREAD)  ...        inf
45                       (ITEM3_SUGER, ITEM1_BREAD)  ...        inf
46                      (ITEM1_BREAD, ITEM2_COFFEE)  ...        2.7
47                                    (ITEM3_SUGER)  ...        inf
48                                   (ITEM2_COFFEE)  ...        2.7
58                    (ITEM1_COFFEE, ITEM3_BISCUIT)  ...        inf
59                                     (ITEM2_COCK)  ...        inf
64                 (ITEM1_COFFEE, ITEM4_CORNFLAKES)  ...        inf
65                                     (ITEM2_COCK)  ...        inf
74                         (ITEM1_JAM, ITEM2_MAGGI)  ...        inf
75                         (ITEM1_JAM, ITEM3_BREAD)  ...        inf
76                       (ITEM2_MAGGI, ITEM3_BREAD)  ...        inf
77                                      (ITEM1_JAM)  ...        inf
78                                    (ITEM2_MAGGI)  ...        inf
79                                    (ITEM3_BREAD)  ...        inf
82                (ITEM3_BISCUIT, ITEM4_CORNFLAKES)  ...        2.7
83                                     (ITEM2_COCK)  ...        inf
89  (ITEM1_COFFEE, ITEM3_BISCUIT, ITEM4_CORNFLAKES)  ...        inf
90                       (ITEM2_COCK, ITEM1_COFFEE)  ...        inf
91                      (ITEM2_COCK, ITEM3_BISCUIT)  ...        inf
92                   (ITEM2_COCK, ITEM4_CORNFLAKES)  ...        inf
93                    (ITEM1_COFFEE, ITEM3_BISCUIT)  ...        inf
94                 (ITEM1_COFFEE, ITEM4_CORNFLAKES)  ...        inf
95                (ITEM3_BISCUIT, ITEM4_CORNFLAKES)  ...        2.7
96                                     (ITEM2_COCK)  ...        inf

[32 rows x 9 columns]